body{
    background-color: #f0eef1;
}

.header {
    color: black;
    background-color: #fffbfb;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
}

#logIn {
    padding: 10px;
    border-radius: 8px;
    width: 75px;
}

.library{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.book {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    padding: 10px;
    width: 300px;
    border: solid 2px;
    border-radius: 8px;
    background-color: #fffbfb;
    /* line-height:0.5; */
    gap: 6px;
    
}

#changeStatus {
    background-color: red;
    border-radius: 8px;
    font-size: 18px;
}

#deleteBook{
    background-color: #f0eef1;
    border-radius: 8px;
    font-size: 18px;

}